@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Lobster|Montserrat|Playfair+Display');
.expanded-card {
  background-image: url('https://i.pinimg.com/originals/0e/86/98/0e86989645e59fd230f5f9f7bcf7eaff.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100%; */
}

.expanded-photo { 
  width: 700px;
  height: 350px;
  border: 10px solid black;
}

.expanded-title {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  color: wheat;
}

.expanded-descrip {
  border:  2px solid black;
  /* margin-left: 90px;
  margin-right: 90px; */
  width: 500px;
  padding: 15px;
  font-size: 20px;
  background-color: white;
  opacity: .5;
}

.expanded-release {
  font-size: 30px;
  margin-top: 0;
  color: rgba(238, 53, 53, 0.815);
  margin-bottom: 11px;
}

.go-back-button { 
  font-size: 2.5em;
  margin-top: 5px;
  margin-left: 10px;
  color:red;
}

.go-back-button:hover {
  background-color: red;
  color: white;
}

.button-container {
  display: flex;
  width: 100vw;
}

.vote-avg {
  color:white;
  font-size: 20px;
  margin-top: 0;
}